<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" type="image/png" href="favicon-32x32-dev.png">
  <link rel="icon" sizes="192x192" href="favicon-192x192-dev.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <link rel="manifest" href="./manifest.dev.webmanifest">

  <link href='https://fonts.googleapis.com/css?family=Ropa+Sans|Bangers' rel='stylesheet' type='text/css'>

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

</head>

<body>

  <div id="root"></div>

  <!-- dat gui -->
  <script src="./vendor/dat.gui.min.js"></script>
  <!-- <script src="bundle.js"></script> -->
  <!-- simple webrtc -->
  <!-- <script src="https://simplewebrtc.com/latest-v2.js"></script> -->

</body>

</html>