@font-face {
  font-family: 'David Baker v1';
  src: url('./fonts/David Baker v1.eot'); /* IE9 Compat Modes */
  src: url('./fonts/David Baker v1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/David Baker v1.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/David Baker v1.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/David Baker v1.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'David Baker v1', Verdana, sans-serif;
	font-size: 3.5rem;
	padding: 50px;
	background: #ffffff;
	color: #000000;
}

.byline {
	padding: 0;
	color: #2195AB;
	/*//text-align: center;*/
	width: 100vw;
	display: inline-block;
}