body {
  background: #646464;
}

#left, #right {
  position: fixed;
  bottom: 0;
  width: 50vw;
  overflow: hidden;
  height: 100vh;
}
#left {
  left: 0;
}
#right {
  right: 0;
}
.chatbox {
  transition: 0.5s;
}
.currentVideo {
  height: 100vh;
}